body{
	font-size: 14px;
}
.container{
	margin: 0 auto;
	width: 399px; 
	text-align: center;

	}	
.logo{
text-align: center;
margin-top: 150px;
margin-bottom: 32px;

}
#topList{
margin-top: 20px;
}
li{
	list-style-type: none;

}
/*basicsList*/
#basicsList a{
	text-decoration: none;
	color: 636363;
}
.menuBasic ul {
  margin-left: -20px; 
  list-style: none;
  display: none;
}
.menufunction ul {
  margin-left: -20px; 
  list-style: none;
  display: none;
}
#basicsList li{
padding-bottom: 15px;
text-align: left;
}
#basicsList{
	background-color:e7e7e7;
	border-radius: 10px;
	margin: 0 auto;
	color: 636363;
}
.basicsLanguage{
	background-color: ff8663;
	color: ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	 border-radius: 10px;
}

.menuBasic .basicsLanguage::after {
	
  content: ' ▼ ';
  padding-left: 57px;
  padding-right: 20px;
  font-size: 80%;
  color: ffffff;
}
.menuBasic.open .basicsLanguage::after {
  content: ' ▲ ';

}
.menuBasic.open ul {
  display: block;

}
/*function*/
.menufunction .function::after {
  content: ' ▼ ';
  padding-left: 289px;
  padding-right: 20px;
  font-size: 80%;
  color: ffffff;
  color: ff8663;
}
.menufunction.open .function::after {
  content: ' ▲ ';

}
.menufunction.open ul {
  display: block;

}
#function a{
	text-decoration: none;
	color: 636363;
}

#function{
	margin-top: 5px;
	background-color:e7e7e7;
	border-radius: 10px;
	color: 636363;

}
#function li{
padding-bottom: 15px;
text-align: left;

}
.function{
	background-color: e7e7e7;
	color: 4f4f4f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	 border-radius: 10px;
	 width: 380px;
	 text-align: left;
}
/*Error and Debag*/
.Debag .Error::after {
  content: ' ▼ ';
  padding-left: 170px;
  padding-right: 20px;
  font-size: 80%;
  color: ff8663;
}


.Debag.open .Error::after {
  content: ' ▲ ';

}
.Debag.open ul {
  display: block;
}

#ErrorAndDebag a{
	text-decoration: none;
	color: 636363;
}

#ErrorAndDebag{
	margin-top: 5px;
	background-color:e7e7e7;
	border-radius: 10px;
	color: 636363;

}
#ErrorAndDebag li{
padding-bottom: 15px;
text-align: left;

}
.Error{
	background-color: 696666;
	color: fefefe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	 border-radius: 10px;
	 width: 380px;
	 text-align: left;
}
.Debag ul{
  margin-left: -20px; 
  list-style: none;
  display: none;
}
 /*Object and array*/
 .ObjectAndArray .TitleObject::after {
  content: ' ▼ ';
  padding-left: 225px;
  padding-right: 20px;
  font-size: 80%;
  color: ff8663;
}


.ObjectAndArray.open .TitleObject::after {
  content: ' ▲ ';

}
.ObjectAndArray.open ul {
  display: block;
}

#ObjectAndArray a{
	text-decoration: none;
	color: 636363;
}

#ObjectAndArray{
	margin-top: 5px;
	background-color:e7e7e7;
	border-radius: 10px;
	color: 636363;

}
#ObjectAndArray li{
padding-bottom: 15px;
text-align: left;

}
.TitleObject{
	background-color: e7e7e7;
	color: 4f4f4f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	 border-radius: 10px;
	 width: 380px;
	 text-align: left;
}
.ObjectAndArray ul{
  margin-left: -20px; 
  list-style: none;
  display: none;
}
/*Event*/

.Event .TitleEvent::after {
  content: ' ▼ ';
  padding-left: 290px;
  padding-right: 20px;
  font-size: 80%;
  color: ff8663;
}


.Event.open .TitleEvent::after {
  content: ' ▲ ';

}
.Event.open ul {
  display: block;
}

#Event a{
	text-decoration: none;
	color: 636363;
}

#Event{
	margin-top: 5px;
	background-color:e7e7e7;
	border-radius: 10px;
	color: 636363;

}
#Event li{
padding-bottom: 15px;
text-align: left;

}
.TitleEvent{
	background-color: 696666;
	color: fefefe;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	 border-radius: 10px;
	 width: 380px;
	 text-align: left;
}
.Event ul{
  margin-left: -20px; 
  list-style: none;
  display: none;
}